{% load static %}
    <a  class="logo" href="#inicio">
        <i class='bx bx-dumbbell'></i>
        HEALTH SPAN
    </a>
    
    <input type="checkbox" id="check">

    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a class="" style="--i:0;" href="#inicio">Inicio</a>
        <a class="" style="--i:1;" href="#asesoria">Servicios</a>
    </nav>

    <script src="{% static 'js/script.js' %}" defer></script>
