{% extends "base.html" %}

{% block title %} Formulario de Inscripción {% endblock %}

{% block content %}
{% block header %}

{% endblock %}
    <section class="container-form mt-4">
        <form method="POST" enctype="multipart/form-data" id="form" class="form">
            {% csrf_token %}
            <div class="input-box mt-3">
                <label>Nombre</label>
                <input type="text" name="first_name" id="first_name" placeholder="Escribe tu nombre" required>
            </div>
            <div class="input-box">
                <label>Apellido</label>
                <input type="text" name="last_name" id="last_name" placeholder="Escribe tu apellido" required>
            </div>
            <div class="input-box">
                <label>Nombre de Usuario</label>
                <input type="text" name="username" id="username" placeholder="Escribe tu nombre de usuario" required>
            </div>
            <!-- Otros campos del formulario -->
            <div class="input-box">
                <label>Email</label>
                <input type="text" name="email" id="email" placeholder="Correo electrónico" required>
            </div>
            <div class="input-box">
                <label>Peso</label>
                <input type="number" name="peso" id="peso" placeholder="Escribe tu peso en numeros" required>
            </div>
            <div class="input-box">
                <label>Contraseña</label>
                <input type="password" name="password1" id="password1" placeholder="Escribe una contraseña" required>
            </div>
            <div class="input-box">
                <label>Confirma la contraseña</label>
                <input type="password" name="password2" id="password2" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </section>
{% endblock %}
