{% extends "base.html" %}

{% block title %} Formulario de inicio de sesión {% endblock %}

{% block header %}
    <a  class="logo" href="{% url 'core:home' %}">
        <i class='bx bx-dumbbell'></i>
        Gym Web
    </a>
{% endblock %}


{% block content %}
<section class="container-box">
    <form method="POST">
        {% csrf_token %}
        <div class="input-box mb-3">
            <label for="{{ form.username.id_for_label }}">Nombre de Usuario</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="input-box">
            <label for="{{ form.password.id_for_label }}">Contraseña</label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <div class="row mt-3">
            <button class="btn btn--radius-2 btn--green" type="submit">Iniciar Sesión</button>
        </div>
    </form>
</section>
{% endblock %}

