{% extends "base.html" %}
{% load static %}
{% block title %}GymWeb{% endblock %}

{% block header %}
        {% include "includes/navbar.html" %}
{% endblock %}
{% block content %}
<!-- Inicio -->
<section class="wrapper" id="inicio">

	<img src="{% static 'images/train.jpg' %}"/>															

	<div class="text-box">
		<h1> <span>Transforma tu cuerpo</span> <br> y tu vida con un plan <br> adecuado para vos</h1>
		<p>
			<a href="registro/" class="btn">
				Quiero una asesoría
				<i class='bx bxs-right-arrow' ></i>
			</a>
		</p>
	</div>

</section>

<!-- Feed -->
<section class="wrapper-feed">
    <style>
        .swiper-pagination-bullet {
            height: 7px;
            width: 26px;
            background: var(--main-color);
            border-radius: 25px;
        }

        .swiper-button-next:hover,
        .swiper-button-prev:hover {
            color: rgba(19, 19, 169, 0.7);
        }

        .swiper-button-next,
        .swiper-button-prev {
            margin: 0 0;
            color: var(--main-color);
            transition: color 0.3s ease;
        }

        .swiper-button-next::before,
        .swiper-button-prev::before, 
        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 40px;
        }
        @media (max-width: 768px) {
            .slide-content {
                margin: 0  10px 40px;
            }


            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }
        
        }
    </style>
    <div class="slide-container-feed swiper">
        <div class="line">
            <p>Testimonios</p>						
            <h3 class="line-feed">¿Que opinan los personas que ya trabajaron con el servicio?</h3>	
        </div>
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                {% if users %}
                    {% for user in users %}
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    {% if user.foto %}
                                        <img src="{{user.foto.url}}" class="card-img"/>						
                                    {% else %}
                                        <img src="{% static 'images/user.jpg' %}" class="card-img"/>						
                                    {% endif %}
                                </div>
                            </div>                
                            <div class="card-content">
                                <h2 class="name">{{ user.username }}</h2>
                                {% for comentario in user.comentario_set.all %}
                                    <p class="description">{{ comentario.comentario }}</p>
                                {% empty %}
                                    <p class="description">No hay comentarios para este usuario.</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/user.jpg' %}" class="card-img"/>						
                            </div>
                        </div>                
                        <div class="card-content">
                            <h2 class="name">Usuario</h2>
                            <p class="description">Comentannnnndo el usuario</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/user.jpg' %}" class="card-img"/>						
                            </div>
                        </div>                
                        <div class="card-content">
                            <h2 class="name">Usuario</h2>
                            <p class="description">Comentannnnndo el usuario</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/user.jpg' %}" class="card-img"/>						
                            </div>
                        </div>                
                        <div class="card-content">
                            <h2 class="name">Usuario</h2>
                            <p class="description">Comentannnnndo el usuario</p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/user.jpg' %}" class="card-img"/>						
                            </div>
                        </div>                
                        <div class="card-content">
                            <h2 class="name">Usuario</h2>
                            <p class="description">Comentannnnndo el usuario</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-pagination"></div>

</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>

<!-- JS -->
<script src="{% static 'js/progress_slide.js' %}" defer></script>

<section class="wrapper">
    <div class="line" id="servicios">
        <p>Servicios</p>						
        <h3 class="line-feed">¿Necesitas ayuda con un plan para entrenar desde tu casa con poco material?</h3>		
        <p class="description">Completa el siguiente  para acceder a mi asesoría 100% personalizada.</p>						
    </div>
	<div class="text-box">
        <p class="btn-form">
            <a class="btn" href="registro/">
                Quiero ser miembro
            </a>
        </p>
    </div>
</section>

<section class="wrapper line">
    <p>Servicios</p>						
    <h3 class="line-feed">¿Cómo son mis planes de asesoría?</h3>
    <div class="card-wrapper">
        <div class="card card-plan">
            <div class="image-content">
                <div class="card-image">
                    <img src="{% static 'images/video.png' %} " class="card-img" />	
                </div>
            </div>
            <div class="card-content"> 
                <h2 class="name">Videos de los ejercicios</h2>
                <p class="description">Para que puedas ver como ejecutarlos correctamente</p>
            </div>
        </div>
    </div>
</section> 
{% endblock%}
{% block footer %}
        {% include "dashboard/footer.html" %}
{% endblock%}



