<div class="footer-content">
	<div class="center box">
		<h2>HEALTH SPAN</h2>
		<div class="content">
			<p> 
				Copyright 2023 © <a href="#" target="_blank" rel="noopener">Política de privacidad</a>
				y <a href="#" target="_blank" rel="noopener">política de cookies</a>.
				Diseño de <a href="#" target="_blank" rel="noopener">Autor</a>
				
			</p>
			<div class="social">
				<a class="" href="https://www.youtube.com/" target="_blank">
					<span class="bi bi-youtube"></span>
				</a>
				<a class="" href="https://www.instagram.com/" target="_blank">
					<span class="bi bi-instagram"></span>
				</a>
				<a class="" href="https://www.tiktok.com/" target="_blank">
					<span class="bi bi-tiktok"></span>
				</a>
			</div>
		</div>
	</div>
</div>         