{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block title %}Home de GymWeb{% endblock %}

{% block header %}
    <a  class="logo" href="{% url 'core:home' %}">
        <i class='bx bx-dumbbell'></i>
        Gym Web
    </a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>
    <nav class="navbar">
        <a class="" style="--i:1;" href="{% url 'ejercicio:index' %}">Servicios</a>
        <a class="" style="--i:1;" href="{% url 'usuario:logout' %}">LogOut</a>
    </nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for i in obj %}
        <div class="col-md-6">
            <div class="mb-4">
                <h2>{{ i.titulo }}</h2>
                {% video i.video 'small' %}
            </div>
        </div>
        {% endfor %}
    </div>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ comentario_form.comentario.id_for_label }}">Experiencia del Usuario</label>
            {{ comentario_form.comentario }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Comentario</button>
    </form>
    
</div>
{% endblock%}

{% block footer %}
    {% include "dashboard/footer.html" %}
{% endblock %}